<footer>
    <div class="footer-content">
        <p>Disclaimer: The content of this website is intended for educational purposes only. It is not intended as a substitute for professional medical advice, diagnosis or treatment. Use desktop mode for better experience</p>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021<span>-ALL Rights are Reserved</span></p>
    </div>
</footer>