<!-- This is Home Page -->
<section class="header">
    <!-- <nav>
        <a href="index.html"><img src="logo.png" alt=""></a>
    </nav> -->
    <div class="text-box">
        <h1><big>Adverse Drug Reaction Predictor</big></h1>
        <p>One can predict the side effects or adverse reactions of any particular drug here.</p>
         
    </div>

</section>

<!-- Drug -->

<section class="drug-f">
    <h1>Know More Be Sure</h1>
   <a href="https://adr-predictor.herokuapp.com/">adr-predictor.herokuapp.com/</a>

    <div class="row">
        <div class="drug-col">
            <h3>What are Drugs</h3>
            <p>A drug is a chemical substance, typically of known structure, which, when administered to a living organism, produces a biological effect.A pharmaceutical drug, also called a medication or medicine, is a chemical substance used to treat, cure, prevent, or diagnose a disease or to promote well-being.Traditionally drugs were obtained through extraction from medicinal plants, but more recently also by organic synthesis.Pharmaceutical drugs may be used for a limited duration, or on a regular basis for chronic disorders</p>
             
        </div>
        <div class="drug-col">
            <h3>What are Side Effects</h3>
            <p>Side effects happen when a treatment causes a problem because it does more than treat the target issue. The impact can range from minor to severe and life-threatening.An adverse effect, or adverse event, means an unwanted side effect.Adverse effects can vary for each patient, depending on their general health, the state of their disease, age, weight, and gender. They can be mild, moderate, or severe.</p>
             
        </div>
        <div class="drug-col">
            <h3>What Precautions can be taken</h3>
            <p>Talk to your healthcare provider about what side effects to look out for, and what to do if you experience one of them.Read the information that comes printed on your medicine labels so that you are aware of the side effects associated with your medicines and know what to be on the lookout for.Ask if there are ways to prevent or manage drug side effects.Make sure your healthcare providers are aware of any allergies you have.</p>
             
        </div>
    </div>

</section>
<!-- Images -->

<section class="pictures">
    
    
    <div class="row">
        <div class="images-col">
            <img src="/images/i.jpg" alt="drug image">
            <h3>Insomnia</h3>
            <p>Insomnia is a sleep disorder in which you have trouble falling or staying asleep</p>
        </div>
        <div class="images-col">
            <img src="/images/ii.jpg" alt="drug image">
            <h3>Nausea</h3>
            <p>Nausea is having discomfort in the stomach usually accompanied by an urge to vomit and feeling of indigestion.</p>
        </div>
        <div class="images-col">
            <img src="/images/iv.jpg" alt="drug image">
            <h3>Dermatitis</h3>
            <p>Dermatitis is generally skin irritation usually involves itchy,dry skin,rashes or reddened skin</p>
        </div>
    </div>

</section>