<!-- This page is rendered if the entered drug name matches with one of the drug name in the database -->
<div class="dups">
This drug already exists

Want to add the details again??


</div>
<div id="click" class="click btn-trans">
    <a href="/drugs/new">Back</a>
</div>