<!-- This page is rendered when the entered drug name is not in the database and the details are updated in the database successfully -->
<div class="dupno">
Drug details are added successfully!!

Want to add the details of a new drug??

<div style="font-size:medium;">
    (The unknown side effects are predicted using Predictor Algorithm)
</div>

</div>
<!-- It is a div containing two buttons one button for going back another button for showing all the drug names -->
<div class="click btn-trans">
    <a href="/drugs/new">Back</a>
</div>  